<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reset Password</title>
</head>
<body>
  <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit(resetPasswordForm)">
    <div class="row">
      <div class="col-md-8 m-auto bg-light shadow p-5 my-3">
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input
            type="email"
            class="form-control"
            formControlName="email"
            name="email"
            id="email"
            placeholder="Enter Your Email"
          />
          <div
            *ngIf="
              resetPasswordForm.get('email')?.errors &&
              resetPasswordForm.get('email')?.touched
            "
            class="email-errors"
          >
            <p
              *ngIf="resetPasswordForm.get('email')?.getError('required')"
              class="text-danger"
            >
              this is a required input !
            </p>
            <p
              *ngIf="resetPasswordForm.get('email')?.getError('email')"
              class="text-danger"
            >
              Enter a valid Email !
            </p>
          </div>
          <div class="mb-3 mt-2">
            <label for="password" class="form-label">New Password</label>
            <input
              type="password"
              class="form-control"
              formControlName="newPassword"
              name="password"
              id="password"
              aria-describedby="helpId"
              placeholder="password"
            />
            <div
              *ngIf="
                resetPasswordForm.get('newPassword')?.errors &&
                resetPasswordForm.get('newPassword')?.touched
              "
              class="password-errors"
            >
              <p
                *ngIf="resetPasswordForm.get('newPassword')?.getError('required')"
                class="text-danger"
              >
                this is a required input !
              </p>
              <p
                *ngIf="resetPasswordForm.get('newPassword')?.getError('minlength')"
                class="text-danger"
              >
                Length is less than 8 characters !">
              </p>
              <p
                *ngIf="resetPasswordForm.get('newPassword')?.getError('maxlength')"
                class="text-danger"
              >
                Length is more than 20 characters !">
              </p>
              <p
                *ngIf="resetPasswordForm.get('newPassword')?.getError('pattern')"
                class="text-danger"
              >
                Password must be at least 8 characters long and include at
                least one uppercase letter, one lowercase letter, one digit,
                and one special character .
              </p>
            </div>
          </div>
          <br />
          <div>
            <button
              [disabled]="resetPasswordForm.invalid"
              class="btn btn-success float-end"
            >
              Reset Password
              <span *ngIf="isLoading">
                <i class="fas fa-spinner fa-spin"></i>
              </span>
            </button>
          </div>
          <p>
            Don't have an account ?
            <a class="text-success" routerLink="/sign-up">Sign Up</a>
          </p>
          <p>
            Forgot Your Password ?
            <a class="text-success" routerLink="/ForgotPassword">Reset Password</a>
          </p>
        </div>
      </div>
    </div>
  </form>
</body>
</html>