<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forgot Password</title>
  </head>
  <body>
    <section id="forgot-password">
      <div class="container mt-5">
        <form
          [formGroup]="ForgotPassword"
          (ngSubmit)="sendCode(ForgotPassword.value)"
        >
          <div class="row">
            <div class="col-md-8 m-auto">
              <div class="layer bg-light shadow p-5">
                <div class="mb-3">
                  <label for="email" class="form-label">Email</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="email"
                    name="email"
                    id="email"
                    placeholder="Enter Your Email"
                  />
                  <p class="text-success" *ngIf="successCodeMessage">{{successCodeMessage}}</p>
                  <div class="email-errors">
                    <p
                      *ngIf="
                        ForgotPassword.get('email')?.getError('required') &&
                        ForgotPassword.get('email')?.touched
                      "
                      class="text-danger"
                    >
                      this is a required input !
                    </p>
                    <p
                      *ngIf="
                        ForgotPassword.get('email')?.errors &&
                        ForgotPassword.get('email')?.touched
                      "
                      class="text-danger"
                    >
                      please enter a valid Email Address !
                    </p>
                  </div>
                </div>
                <div>
                  <button class="btn bg-main text-white">SendCode</button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </section>

    <section id="verify-code" class="d-none">
      <div class="container mt-5">
        <form
          [formGroup]="resetCodeform"
          (ngSubmit)="verifyCode(resetCodeform.value)"
        >
          <div class="row">
            <div class="col-md-8 m-auto">
              <div class="layer bg-light shadow p-5">
                <div class="mb-3">
                  <label for="code" class="form-label">Code</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="resetCode"
                    name="code"
                    id="code"
                    placeholder="Enter Code Sent To Your Email"
                  />
                  <p class="text-success" *ngIf="successVerificationMessage">{{successVerificationMessage}}</p>
                  <p class="text-danger" *ngIf="codeErrorMessage">{{codeErrorMessage}}</p>
                  <div class="code-errors">
                    <p
                      *ngIf="
                        resetCodeform.get('code')?.getError('required') &&
                        resetCodeform.get('code')?.touched
                      "
                      class="text-danger"
                    >
                      this is a required input !
                    </p>
                    <p
                      *ngIf="
                        resetCodeform.get('code')?.errors &&
                        resetCodeform.get('code')?.touched
                      "
                      class="text-danger"
                    >
                      please enter a valid Code !
                    </p>
                  </div>
                </div>
                <div>
                  <button
                    [disabled]="resetCodeform.invalid"
                    class="btn bg-main text-white"
                  >
                    VerifyCode
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </section>
  </body>
</html>
