<footer class="bg-main-light position-relative top-0 bottom-0 start-0 end-0  p-5">
  <div class="container">
    <h2>Get The FreshCart App</h2>
    <p class="text-muted">We Well Send You a Link</p>
    <div class="d-flex gap-3">
      <input type="email" placeholder="Email..." class="form-control" /><button
        class="btn bg-main flex-shrink-0"
      >
        Share App Link
      </button>
    </div>
    <hr />
    <h3 class="h6 text-center">
      © 2024 Supra's Fresh Cart All Rights Reserved
    </h3>
  </div>
</footer>
